vrrp_script check_haproxy {                 
    script /home/keepalived_script/script
    weight 20                              
    interval 1               
}
{% set ns = namespace(internal_iface='') %}
{% for iface in ansible_interfaces %}
{%   set iface_data = hostvars[inventory_hostname]['ansible_' + iface | replace('-', '_')] | default({}) %}
{%   if iface_data.get('ipv4', {}).get('address', '') == internal_ip %}
{%     set ns.internal_iface = iface %}
{%   endif %}
{% endfor %}
vrrp_instance XXX {
    interface {{ ns.internal_iface }}
    virtual_router_id 1
    priority {{ 100 - inventory_hostname[-1] | int }}
    advert_int 1
    unicast_src_ip {{ internal_ip }}
    virtual_ipaddress {
        {{ virtual_ip_address }}/32
    }
    unicast_peer {
{% for vm in groups['web_apps'] %}
{% if vm != inventory_hostname %}
        {{ hostvars[vm]['internal_ip'] }}
{% endif %}
{% endfor %}
    }
    track_script {
        check_haproxy
    }
}