log_format status_time '$status $request_time';

server {
	listen 80 default_server;
	server_name _;

{% if inventory_hostname in groups['web_apps'] %}
	location / {
		proxy_pass http://localhost:{{ agama_port }};
		access_log /var/log/nginx/access.log;
		access_log /var/log/nginx/agama.log status_time;
	}
{% else %}
	location / {
		try_files $uri $uri/ =404;
	}
{% endif %}
{% if inventory_hostname in groups['prometheus'] %}
	location /prometheus {
		proxy_pass http://localhost:9090;
	}
{% endif %}
{% if inventory_hostname in groups['grafana'] %}
	location /grafana {
		proxy_pass http://localhost:{{ grafana_port }};
		proxy_set_header Host $http_host;
	}
{% endif %}
}

server {
	listen 8080 default_server;
	location = /stub_status {
		stub_status;
	}
}