apiVersion: 1
datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    uid: "df5rak9esf2tcd"
    url: "http://{{ groups['prometheus'] | first }}:9090/prometheus/"
    isDefault: true
