$TTL	604800
{{ startup_domain }}.	IN	SOA	vm1.{{ startup_domain }}. jevgeni.{{ startup_domain }}. (
			      3		; Serial
			 604800		; Refresh
			  86400		; Retry
			2419200		; Expire
			 604800 )	; Negative Cache TTL
;
{% for vm in groups['all'] %}
{{ startup_domain }}.	IN	NS	{{ vm }}.{{ startup_domain }}.
{% endfor %}
{% for vm in groups['all'] %}
{{ vm }}	IN	A	{{ hostvars[vm]['ansible_default_ipv4']['address'] }}
{% endfor %}
