# Sample config for Prometheus.

global:
  scrape_interval:     15s # Set the scrape interval to every 15 seconds. Default is every 1 minute.
  evaluation_interval: 15s # Evaluate rules every 15 seconds. The default is every 1 minute.
  # scrape_timeout is set to the global default (10s).

  # Attach these labels to any time series or alerts when communicating with
  # external systems (federation, remote storage, Alertmanager).
  external_labels:
      monitor: 'example'

# Alertmanager configuration
alerting:
  alertmanagers:
  - static_configs:
    - targets: ['localhost:9093']

# Load rules once and periodically evaluate them according to the global 'evaluation_interval'.
rule_files:
  # - "first_rules.yml"
  # - "second_rules.yml"

# A scrape configuration containing exactly one endpoint to scrape:
# Here it's Prometheus itself.
scrape_configs:
  # The job name is added as a label `job=<job_name>` to any timeseries scraped from this config.
  - job_name: 'prometheus'

    # Override the global default and scrape targets from this job every 5 seconds.
    scrape_interval: 5s
    scrape_timeout: 5s

    # metrics_path defaults to '/metrics'
    metrics_path: '/prometheus/metrics'
    # scheme defaults to 'http'.

    static_configs:
      - targets: ['localhost:9090']

  #- job_name: node
    # If prometheus-node-exporter is installed, grab stats about the local
    # machine by default.
  #  static_configs:
  #    - targets: ['localhost:9100']

  - job_name: 'linux'
    
    static_configs:
      - targets:
{% for vm in groups['all']%}
        - '{{ vm }}:9100'
{% endfor %}

  - job_name: 'mysql'
    
    static_configs:
      - targets:
{% for vm in groups['db_servers']%}
        - '{{ vm }}:9104'
{% endfor %}

  - job_name: 'bind9'
      
    static_configs:
      - targets:
{% for vm in groups['dns_servers']%}
        - '{{ vm }}:9119'
{% endfor %}

  - job_name: 'nginx'
      
    static_configs:
      - targets:
{% for vm in groups['web_servers']%}
        - '{{ vm }}:9113'
{% endfor %}

  - job_name: 'loki'
      
    static_configs:
      - targets:
{% for vm in groups['loki']%}
        - '{{ vm }}:3100'
{% endfor %}

  - job_name: 'promtail'
      
    static_configs:
      - targets:
{% for vm in groups['all']%}
        - '{{ vm }}:9080'
{% endfor %}

  - job_name: 'backup'

    static_configs:
      - targets:
        - 'backup:9111'

  - job_name: 'haproxy'
      
    static_configs:
      - targets:
{% for vm in groups['ha']%}
        - '{{ vm }}:9101'
{% endfor %}

  - job_name: 'keepalived'
      
    static_configs:
      - targets:
{% for vm in groups['ha']%}
        - '{{ vm }}:9165'
{% endfor %}
